body {

  overflow: hidden;
}
.back {
  width: 100vw !important;
  height: 100vh !important;
  z-index: -2 !important;
  position: absolute
}
.back1 {
  z-index: -2 !important;
  width: 62vw;
  height: 100vh;
  z-index: -2 !important;
  position: absolute
}
.headingdesktop {
  color:#0078d7;
}
.heading{
  font-size: 2.5rem !important;
  color: whitesmoke
}
.content{
  
  color: whitesmoke
}


@media screen and (max-width: 768px) {
  .heading{
    font-size: 2rem !important;
    color: whitesmoke
  }
  .ms-Label {
    color: whitesmoke !important;
  }
  .ms-Button-label  {
    color: whitesmoke !important;
  }
  .desktopcontent{
    color: whitesmoke !important;
    font-size: 1rem;

  }
 
}